mat-card {
    width: 300px;
    margin: 1rem;
    display: inline-block;
    cursor: pointer;
}

mat-card:hover {
    background-color: #e0e0e0 !important;
}

.header-text {
    width: 100%;
    text-align: center;
}
  
mat-card-subtitle {
    margin: 1rem 0;
}

mat-card-content {
    padding: 2px 16px;
}