html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    width: 70%;
    margin: 0 auto;
}

h1 {
    width: 100%;
    font-weight: bold;
    font-size: 2rem;
    margin: 2rem;
}

.back-button {
    display: flex;
    justify-content: flex-end;
    width: 70%;
}
  
.allDetails {
    display: flex;
    justify-content: space-between;
}

.allDetails > div {
    flex: 1;
}

.allDetails img {
    width: 50%;
}