html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 30px;
    width: 70%;
    margin: 0 auto;
}

h1 {
    width: 100%;
    font-weight: bold;
    font-size: 2rem;
    margin: 2rem 0;
    text-align: center;
}

.back-button {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.info-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    font-size: 1.2rem;
    margin: 2rem 0;
}

.img-container img {
    display: block;
    width: 40%;
    margin: 0 auto;
    border: 1px solid #000000;
}